/* 초기화 */
h1, h2, h3, h4, h5, h6, p, ul, li, strong, span, button, a{
    margin: initial;
    padding: initial;
}

a, button{
    color: black;
    border: none;
    text-decoration: none;
    background: none;
}

ul, li{
    list-style-type: none;
}

:root {
    --bs-body-font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

/* 사이즈 확인 */
header{
    box-shadow: inset 0 0 10px 0px black;
}

/* nav{
    box-shadow: inset 0 0 10px 0px red;
} */

main{
    box-shadow: inset 0 0 10px 0px orange;
}

section{
    box-shadow: inset 0 0 10px 0px pink;
}

footer{
    box-shadow: inset 0 0 10px 0px olivedrab;
}

/* 레이아웃 */
.menu-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: antiquewhite;
}

.web-name{
    flex-basis: 20%;
    flex-shrink: 0;
    font-size: 20px;
}

.web-menu-list{
    display: flex;
}

.web-menu-list li:not(:last-of-type)::after{
    content: '';
    margin: 0 10px;
    border: 1px solid black;
}

.thumbnail{
    padding: 200px 0px;
    background: url('../image/south-korea-morning.jpg') no-repeat 0 0 / cover;
    background-position: bottom;
    text-align: center;
    color: #f5eddc;
    font-weight: 700;
}

.title{
    margin-bottom: 30px;
    font-size: 48px;
}

.more{
    color: inherit;
    background: hsl(323, 100%, 70%);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 30px;
}

main{
    padding: 0 30px;
}

@media(max-width: 390px){
    main{
        padding: 0;
    }
}